*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper{
	display: grid;
}
/*****top******/
.top{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-gap: 20px;
	color: gray;
	font-family: 'Share Tech', sans-serif;
	
}
.top_item{
	padding: 10px;
	display: flex;
}
.top_item i {
    width: 50px;
}
/*****header******/
header{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	grid-gap: 20px;
	padding: 20px 0px;
}
header div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo{
	color: gray;
	font-size: 1.2rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.input_control {
    width: 100%;
    position: relative;
}
input#search {
    width: 100%;
    padding: 10px 0px;
    padding-left: 10px;
    text-transform: capitalize;
}
i.fas.fa-search {
    position: absolute;
    right: 12px;
    top: 10px;
    font-size: 20px;
}
i.fas.fa-shopping-cart {
    width: 55px;
    background: brown;
    height: 50px;
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
span#count {
    background: brown;
    /* padding: 5px; */
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -20px;
    color: white;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: brown;
	font-family: 'Share Tech', sans-serif;
}
.logo1{
	color: white;
	font-size: 1.2rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: none;
}
ul.nav_links {
	list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-around;
}
ul.nav_links a {
    color: lightgray;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.cartM{
	display: none;
}

.burger{
	display: none;
}

.burger div{
	width: 25px;
    height: 3px;
    background-color: lightgray;
    margin: 4px;
}
.burger .line3{
	width: 15px;
    height: 3px;
    background-color: lightgray;
    margin: 4px;
}

/*********hero**********/
.hero{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 22px;
	margin: 20px 0;
}
.sidebar{
         
           font-family: 'Share Tech', sans-serif;
           overflow-y: auto;
           height: 75vh;
	
}
.main{
	height: 75vh;
	background-image: url('../images/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 25px;
	display: flex;
    align-items: center;
}
.main_inner {
    width: 50%;
}
.main_inner h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
.main_inner p{
	margin:  15px 0;
}
button#show_now {
    padding: 10px 22px;
    background: #54b9d9;
    color: white;
    border: 1px solid #54b9d9;
}

/*****side bar*****/
.sidebar h3 {
    background: red;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.main_sidebar{
	list-style: none;
	width: 100%;

}
.main_sidebar li{
	padding: 13px;
	background: lightgray;
	margin: 2px 0px;
	cursor: pointer;
	position: relative;

}
.main_sidebar li:hover{
   border-right: 4px solid green;
}
.main_sidebar a{

	text-decoration: none;
	font-size: 19px;
	color: black;
}
/**ellipsis code on css**/
.ellipsis_code{
	width: 130px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	

}
span.tooltip_text {
    color: white;
    background: #2C3E50;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    display: none;
    top: -8px;
    right: 7px;
    z-index: 100;
}
.main_sidebar li:hover span.tooltip_text{
	display: block;
}

/****product 1*****/

.product1, .featured{
	margin: 20px 0;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 22px;
	font-family: 'Share Tech', sans-serif;
}
.top_sellers{

}
.new_products{

}
.top_sellers{
	padding: 5px;
}
.top_sellers h1, .new_products h1{
    padding: 15px 15px 15px 0;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.seller_item{
	display: flex;
	margin-bottom: 12px;
}
.seller_item_text{
	margin-left: 8px;
}
.seller_item_text p {
    line-height: 1.4;
}
.price {
    font-size: 18px;
    font-weight: 800;
}
.inner_products, .feature{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	padding:10px;
	grid-gap:10px;
}

.card_pro1 {
	display: flex;
	flex-direction: column;
	align-items: center;
  border: 1px solid lightgray;
  padding: 15px 10px;
}
.btn_group{
	margin-top: 10px;
}
.btn_group button{
	background: gray;
	border: none;
	padding: 5px 15px;
	color: white;

}
.btn_group button:nth-child(1){
    border-right: 1px solid white;
}
footer{
	background-color: red;
	font-family: 'Share Tech', sans-serif;
	color:white;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	padding: 30px;
	grid-gap: 20px;
}

.foot h3 {
    margin-bottom: 10px;
}

.foot ul{
	list-style: none;
}
.foot li {
	margin:7px 0px;
}
.foot li a{
	color:white;
	text-decoration: none;
}
.news_input{
	margin:8px 0;
}
.news_input #news_letter_input{
	padding: 5px 10px;
}
.foot ul li i{
	font-size: 20px;
	margin-right: 10px;
}


/*****product page css*******/

.productDetails{
	margin: 25px 0;
	display: grid;
	grid-template-columns: 2fr .7fr;
	grid-column-gap: 25px;
	font-family: 'Share Tech', sans-serif;
	padding:5px;
}
.best_seller h1{
	background-color: red;
	color:white;
	text-align: center;
}
.pro_details{
	border:1px solid lightgray;
	width: 100%;
	display: flex;
}
.pro_detail1{
	
	flex-basis:40%;
	padding:15px;
}
.pro_items{
   margin-top:10px;
   display: flex;
   justify-content: space-around;
}
.pro_detail1>img{
	width: 100%;
}
.pro_detail2{
	
	flex-basis: 60%;
	padding:15px;
}
.price_sec {
    margin: 10px 0;
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding:8px 0;
}

.high_price {
    font-size: 40px;
    font-weight: 700;
    color: red;
}
.price_text p {
    color: red;
    font-size: 19px;
	word-spacing: 1px;
	margin:8px 0;
}

.price_text p span i {
    color: gray;
}
button#stock_btn {
    background: green;
    padding: 10px 30px;
    color: white;
    font-size: 19px;
    border: none;
}

.price_sec2 {
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.qty {
    font-size: 19px;
}
input[type="number"] {
    padding: 6px;
    width: 25%;
}
.addCart {
    width: 30%;
}
button#addCart_btn {
    padding: 12px 40px;
    background: red;
    color: white;
    font-size: 19px;
    border: none;
}

.stars {
    padding: 15px;
    display: flex;
	justify-content: space-between;
	align-items: center;
}
.star i{
	font-size: 22px;
}
input#verifyinput {
    padding: 9px 25px;
    padding: 26;
}
.verify{
	position: relative;
}
#btn_verify {
    padding: 9px;
    /* position: absolute; */
    top: 2px;
    right: 0;
    background: lightblue;
    border: 1px solid lightblue;
    color: white;
	letter-spacing: 2px;
	font-weight: 600;
}

.badage{
	margin:20px 0;
}
.badage span{
	padding:5px 8px;
	background-color: #3b5998;
	color: white;
	
    border-radius: 5px;
}
.badage span i {
	width:15px;
}
.feat{
	margin:35px 0 0 10px;
}
.keyfeat{
	display: flex;
}
.feat ul{
	list-style: none;
	margin-left:25px;
}
.feat ul li{
	margin-top:15px;
	font-size: 20px;
}

.keyfeat ul li i{
    font-size: 18px;
	color:red;
	width: 25px;
}
/*********/
.info_tabs{
	padding-left:5px;
	margin:10px 0 0 0;
	font-family: 'Share Tech', sans-serif;
}

.info_tabs button{
	padding:12px 35px;
	background-color:lightgray;
	border:none;
	font-size: 19px;
}
.info_tabs button.active{
	background:red;
	color:white;
}
.info_tables{
	width: 100%;
	border:1px solid lightgray;
	padding:10px;
	display: flex;
}
.left_info_table{
	flex-basis: 45%;
	/* border:1px solid green; */
	padding:10px;
}
.left_info_table p{
	margin:7px 0;
	font-weight: 700;
}
.left_info_table ul{
	list-style: none;
}
.left_info_table ul li{
	margin:8px 0px;
}
.left_info_table ul li span{
	display: inline-block;
	width:70px;
}
.write_own_review{
	flex-basis: 55%;
	/* border:1px solid brown; */
	padding:10px;
}
.write_own_review h1{
	margin-bottom: 8px;
}
table{
	border:1px solid lightgray;
	border-collapse: collapse;
	width: 75%;
}
table td i{
	font-size: 20px;
}
table td{
	font-size: 20px;
}
 th{
	width: 100px;
	background-color: lightgray;
	padding:5px;

}
td{
	padding:5px;
	border:1px solid lightgray;
	border-collapse: collapse;
	text-align: center;
}

#form{
	width: 75%;
	margin-top:25px;

}
#form label{
	display: block;
	font-size: 19px;
	margin-bottom: 8px;
}
#name,#summary,#msg{
	width: 100%;
	padding:9px;
	margin-bottom: 10px;
	background-color: lightgray;
	border:none;
}
#review_submit_btn{
	padding:8px 30px;
	color:white;
	background-color: red!important;
	border:none;
}












/****media query*****/

@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.shopping_cart{
		display: none;
	}
	.cart2{
		display: block;
	}
	.logo{
		display: none;
	}
	.logo1{
		display: block;
	}
	.input_control{
		width: 90%;
		margin: 0 auto;
	}
	nav{
		order: -1;
	}
	.nav_links{
		 position: absolute;
		 right: 0px;
		 top: 8vh;
		 height: 92vh;
		 background-color: brown;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 width: 0%!important;
		 transition: all .3s ease-in;
		 overflow-x: hidden;
		 z-index: 300;
	}
	/* .nav_links li{
		opacity: 0;
	} */
	.burger{
	   display: block;
	}
	.hero, .product1, .featured{
		display: block;
	}
	.main{
		justify-content: center;
		font-size: 22px;
		background-position: center right;
		padding:10px;
	}
	.main.inner{
		width:90%;
	}
	.input_control{
		margin:10px auto;
	}

}




/*******************/


.nav_active{
     
     width: 50%!important;
}